# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.sh]
indent_style = space

[*.zsh]
indent_style = tab

[*.{py,rst,txt}]
indent_style = space
trim_trailing_whitespace = true
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[*.ini]
indent_style = tab

[.gitconfig]
indent_style = tab
trim_trailing_whitespace = false
max_line_length = 200

[*.{yml,yaml}]
indent_style = space
indent_size = 2
charset = utf-8

[*.{xml,xml.dist}]
indent_style = space
indent_size = 2

[Dockerfile-template]
charset = utf-8
indent_style = tab

[Dockerfile]
charset = utf-8
indent_style = tab

[*.lua]
charset = utf-8
indent_style = space
indent_size = 2

[*.tf]
indent_style = tab
charset = utf-8

[*.md]
charset = utf-8
indent_style = tab

# JS eslint
[*.{js,vue}]
indent_style = space
indent_size = 2
insert_final_newline = true
