[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "nano"]
	path = nano
	url = git@github.com:scopatz/nanorc.git
[submodule "zsh_custom/plugins/git-open"]
	path = zsh_custom/plugins/git-open
	url = git@github.com:paulirish/git-open.git
[submodule "config/spicetify/Themes/google-spicetify"]
	path = config/spicetify/Themes/google-spicetify
	url = git@github.com:khanhas/google-spicetify.git
