"*":
  core:
    excludeVcsIgnoredPaths: false
    fileEncoding: "windows1252"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "ci/build/*"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
      "toggle-quotes"
      "sort-lines"
    ]
    telemetryConsent: "limited"
    useCustomTitleBar: true
  docblockr:
    short_primitives: true
    spacer_between_sections: true
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    invisibles:
      cr: " "
      eol: " "
      tab: " "
    scrollPastEnd: false
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "609849ec-65fb-8830-c0ae-843b285ca3e9"
  gist: {}
  "gist-it":
    newGistsDefaultToPrivate: true
    openAfterCreate: true
  "git-diff": {}
  linter:
    errorPanelHeight: 145
  "markdown-preview":
    useGitHubStyle: true
  "quick-highlight":
    countDisplayPosition: "Right"
  "toggle-quotes": {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
    tabLength: 4
".editorconfig.source":
  editor:
    tabLength: 4
".feature.source":
  editor:
    tabLength: 4
".ini.source":
  editor:
    tabLength: 4
