"*":
  core:
    disabledPackages: [
      "docblockr"
    ]
    excludeVcsIgnoredPaths: false
    fileEncoding: "iso88591"
  docblockr:
    short_primitives: true
    spacer_between_sections: true
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "609849ec-65fb-8830-c0ae-843b285ca3e9"
  "quick-highlight":
    countDisplayPosition: "Right"
  welcome:
    showOnStartup: false
".feature.source":
  editor:
    tabLength: 4
