[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Sleep

# A comment which can/will be used as a tooltip
Comment=Suspend computer
GenericName=Suspend hibernate

# The path to the folder in which the executable is run
Path=/home/daniel/.dotfiles/bin/

# The executable of the application, possibly with arguments.
Exec=/home/daniel/.dotfiles/bin/suspend-computer

# The name of the icon that will be used to display this entry
Icon=/usr/share/icons/Vibrancy-Colors-Dark/apps/48/system-suspend.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
# Categories=Education;Languages;Java;
